doctype html
//- | PASTE YOUR HTML CODE HERE
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Email Verified
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    *{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    button{
    background-color: #DB3327;
    color: #FABE00;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    margin-top: 2rem;
    }
    button:hover{
    background-color: #FABE00;
    color: #DB3327;
    }
div(style='display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 2rem; padding: 2rem;')
  img(src='https://cdn.imgchest.com/files/84jdc3w2n94.gif' alt='verified' style='height: 15rem;')
  h1(style='font-size: 2rem;')
    | Your 
    span(style='color: #DB3327;') Email
    |  is 
    span(style='color: #FABE00;') verified
  button Home